<section class="footer-cont">
    <div class="s1-footer-cont" >

      <div class="left-col">
        <h5 class="footer-title">Direccion del Consultorio</h5>
        <div class="footer-col">
        <table>
            <tr class="footer-table">
              <td class="footer-td"><img class="img-align"src="/static/images/location-419a1c.png" width="25"/></td>
              <td class="footer-td">Alborada 70 | Los Pastores | Edo. de Mexico CP 53340</td>
            </tr>

            <tr class="footer-table">
              <td class="footer-td"><img class="img-align" src="/static/images/phone-ed2b15.png" width="25"/></td>
              <td class="footer-td">555-373-4814</td>
            </tr>

            <tr class="footer-table">
              <td class="footer-td"><img class="img-align" src="/static/images/email-4c96d7.png" width="25"/></td>
              <td class="footer-td">nery@yahoo.com</td>
            </tr>

          </table>


        </div>
      </div>

      <div class="right-col">
        <h5 class="footer-title">Horario de Consultas</h5>
        <table>
          <tr class="footer-table">
            <td class="footer-td">Lunes</td><td class="footer-td">9AM - 3PM</td><td class="footer-td">5PM - 8PM</td>
          </tr>
          <tr class="footer-table">
            <td class="footer-td">Martes</td><td class="footer-td">9AM - 3PM</td><td class="footer-td">5PM - 8PM</td>
          </tr>
          <tr class="footer-table">
            <td class="footer-td">Miercoles</td><td class="footer-td">9AM - 3PM</td><td class="footer-td">5PM - 8PM</td>
          </tr>
          <tr class="footer-table">
            <td class="footer-td">Jueves</td><td class="footer-td">9AM - 3PM</td><td class="footer-td">5PM - 8PM</td>
          </tr>
          <tr class="footer-table">
            <td class="footer-td">Viernes</td><td class="footer-td">9AM - 3PM</td><td class="footer-td">5PM - 8PM</td>
          </tr>
          <tr class="footer-table">
            <td class="footer-td">Sabado</td><td class="footer-td">9AM - 3PM</td><td class="footer-td">5PM - 8PM</td>
          </tr>
          <tr class="footer-table">
            <td class="footer-td">Domingo</td><td class="footer-td">Cerrado </td><td></td>
          </tr>
        </table>
      </div>

    </div>

    <div class="s2-footer-cont" >

      <div>
        <p class="accross">Manuel Hayashi Web Developer</p>
      </div>

    </div>


    </section>
