{% load static %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content='width=750'>
    <link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css"/>
  </head>

  <body>

    <div class="bg-img">

      {% include 'navbar.html' %}
      <div class="home-s1">
        <div class="">
          <h3 class="home-text-header">Bienvenidos a la Clinica Dental Los Pastores</h3>
        </div>
        <div class="">
          <p class="home-text-header">Hemos estado trabajando con ustedes por mas de 40 anos,
           estamos orgullosos de contar con su apoyo.</p>
        </div>
      </div>









    </div>

  </body>

  <footer>
    {% include 'footer.html' %}
  </footer>
</html>
