* {     margin: 0;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        text-decoration: none;
        list-style: none;
        /* background: transparent; */
  }

h1 { font-size: 56px;}
h2 { font-size: 36px;}
h3 { font-size: 28px;}
h4 { font-size: 24px;}
h5 { font-size: 20px;}
h6 { font-size: 16px;}

p, a {
  font-size: 18px;
}
label, input {
  font-size: 18px;
}
body, footer {
  font-family: "Comic", sans-serif, cursive;
}


/* ------------------ body -----------------*/

.s1 {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* make border all around to see space */

  padding-left: 60px;
  padding-right: 60px;
}
 /* ------------------ contact from -----------------*/

 .text-header {
   color: white;
 }

/* child */
.col {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 40px;
  /* border: 1px solid red; */
}
.form {
  border: 2px solid orange;
  background-color: #A4AE9E;
  width: 500px;
  padding: 20px; /*padding inside the box*/
  border-radius: 30px;}

.form-item {
  border-bottom: 1px solid #efefef;
  margin: 20px;
  padding-bottom: 10px;
  width: 400px;}

.form-title {
  float: left;
  width: 100px;
  text-align: right;
  padding-right: 10px;}

.form-submit {
  text-align: right;
  padding-right: 60px;}



.bg-img {
  background: url("/static/images/curette.jpg") no-repeat;
  background-position: center;
  background-size: cover;
  height: calc(100vh - 80px);
}

/* ---------------- navigation bar ------------- */
/* inline desktop navbar */
/* Position container inside the image */
.nav-cont {
  position: relative;
  padding-top: 20px;
}
nav {
  background: none;
  /* background: #0082e6; */
  height: 80px;
  width:100%
}
label.logo {
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
#mainMenu {
  float: right;
  margin-right:  20px;
}
#mainMenu li {
  display: inline-block;
  line-height: 80px;
}
#mainMenu a {
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 4px;
  /* background: red; */
  text-transform: uppercase;
}
 #mainMenu a:active,
 #mainMenu a:focus,
 #mainMenu a:hover {
  color: orange;
  /* background: #1b9bff; */
  background: #707a6a;
  transition: .5s;
}


#menuShowHide + label {
  display: none;
}
/* ----------- check mark ------------- */
#menuShowHide {
  display: none;
}

/* ----------- hiding the desktop NavBar ----------- */
@media (max-width: 900px) {
  #menuShowHide + label {
    display: block;
  }
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }

  #mainMenu {
    position: absolute;
    width:100%;
    height: 0vh;
    background: #2c3e50; /* background blue */
    top: 80px;
    left: -100%; /* this moved the menue to the left for hide */
    text-align: center;
    margin-top: 20px;
    border: 3px solid yellow;
  }
  #mainMenu li {
    display: block; /* vertical display of menu */
    line-height: 30px;
    padding:10px;
  }
  #mainMenu a {
    font-size: 16px;
    padding: 7px 10px;
    margin: 7px 10px;
    border-radius: 4px;
    border: 3px solid green;
  }
  #mainMenu a:hover,
  #mainMenu a:active {
    background: none;
    background: #707a6a; /* background brown-green */
  }
  #menuShowHide + label {
    float: right;
    border: 2px solid orange;
    border-radius: 5px;
    margin: 20px 40px;
    display: block;
		padding: 10px;
		font-weight: bold;
		color: #fff;
	}
  #menuShowHide + label:active,
	#menuShowHide + label:focus,
	#menuShowHide + label:hover {
		color: orange;
	}



/* ---------------------- footer formatting -----------------*/
.footer-cont {
  background-color: #A4AE9E;
}
.s1-footer-cont, .s2-footer-cont {
  display: flex;
  justify-content: space-evenly;
}

.footer-title, .footer-col {
    padding: 10px;
}
.img-align {
  vertical-align: bottom;
}
.footer-td {
  padding: 2px 4px 2px 4px;
}

.accross {
  padding-top: 15px;
  font-size: 14px;
  color: grey;
}
/* -------------- Formatting Buttons ----------- */
.other{
    background-color: #f1a340;
    color: #f6e8c3;
    height: 25px;
    width: 80px;
    border-radius: 5px;
    border: none;
    margin-left: 20px;
    margin-right: 20px;
}

.other:hover{
    background-color: #e1e5f2;
    color: #f1a340;
    border: 1px solid #f1a340;
}

.new{
    background-color: green;
    color: white;
    height: 25px;
    width: 80px;
    border-radius: 5px;
    border: none;
    margin-left: 20px;
    margin-right: 20px;
}

.new:hover{
    background-color: #e1e5f2;
    color: green;
    border: 1px solid green;
}

.update{
    background-color: #00ccff;
    color: #0066cc;
    height: 25px;
    width: 80px;
    border-radius: 5px;
    border: none;
    margin-left: 20px;
    margin-right: 20px;
}

.update:hover{
    background-color: #e1e5f2;
    color: #0066cc;
    border: 1px solid #0066cc;
}

.delete{
    background-color: red;
    color: white;
    height: 25px;
    width: 80px;
    border-radius: 5px;
    border: none;
    margin-left: 20px;
    margin-right: 20px;
}

.delete:hover{
    background-color: #e1e5f2;
    color: red;
    border: 1px solid red;
}
